.container {
    display:flex column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width:800px;
    height:600px;
}

.left, .right{
    width:60px;
    height: 100%;
    background-color: aquamarine;
}

#portrait {
    width:100%;
    height: 100%;
    background-color: blueviolet;
}