
:root{
    --border: solid black 1px;
    --cell-size:50px;
}

body {
    margin: auto;
}

.status{
    height: 600px;
    background-color: blueviolet;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 5rem;
    text-align: center;
}

.games {
    display:flex;
    flex-direction: column;
    width:80%;
}

#currentPlayer{
    &::before{
        content:'Turn: ';
    }
    text-align: center;
    font-size: 3rem;
    background-color: bisque;
}
#mePlayer{
    &::before{
        content:'You are: ';
    }
    text-align: center;
    font-size: 3rem;
    background-color: azure;
    margin:0 5rem;
}

.container {
    background-color: grey;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & .board {
        background-color: grey;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin:10px;
        &.enabled{
            background-color: darkgray;
            order:-1;
        }
        & label{
            font-size: 3rem;
            background-color: aquamarine;
            margin:1rem;
            padding:0 4rem;
        }
    }
}

.shipbar {
    background-color: lightgray;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin:10px;
    padding:10px;
    & > .text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height:60px;
        background-color: pink;
        margin:5px;
        border: var(--border);
        font-size: 3rem;
    }
    & .ship{
        margin:2px;
    }
    & button{
        font-size: 1.5rem;
        align-self:center;
    }
}

.cell {
    display: flex;
    justify-content: center;
    position: relative;
    border: var(--border);
    aspect-ratio: 1;
    font-size: 2rem;
    user-select: none;
    & .shot{
        position: absolute;
    }
}
.heading {
    background-color: rgba(0,250,250,.7);
    justify-content: center;
    align-items: center;
}

.hidden{
    display:none !important; /* sorry */
}


.ship {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:visible;
    user-select: none;
    z-index:1;
    &.rotated {
        flex-flow: column nowrap;
        overflow:visible;
    }
}

.shipcell {        
    width:var(--cell-size);      
    overflow:hidden;
    background-color: aquamarine;
    &.left{
        border-radius: 15px 0 0 15px;
        &.rotated{
            border-radius: 15px 15px 0 0;
        }
    }
    &.right{
        border-radius: 0 15px 15px 0;
        &.rotated{
            border-radius: 0 0 15px 15px;
        }
    }
    &.rotated {        
        background-color: aquamarine;
    }
    .enabled &{
        display:none;
    }
}

.grid {
    display: grid;
    border: var(--border);
    border-collapse: collapse;
}