.container {
    background-color: gray;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    background-color: red;
    width:5rem;
    aspect-ratio: 1;
    border: solid black 1px;
}

.purple {
    background-color: purple;
}